/* pls! <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> */
b {
	font-weight: bold;
}

#new {
	position: fixed;
	left: 5;
	top: 5;
	z-index: 11;
	font-family: "Courier New", monospaced;
	font-size: 1.5em;
	text-align: center;
	cursor: pointer;
	margin: 0.5em;
	padding: 0em 0.15em;
}


.dragme {
	border: 1px solid black;
	position: fixed;
	background-color: white;
	z-index: 9;
	font-family: "Courier New", monospaced;
}

.dragme .handle {
	border-bottom: 1px dashed black;
	height: 1em;
	width: 99.8%;
	position: absolute;
	font-weight: bold;
	top: 0px;
	padding: 1px;
	cursor: grab;
	cursor: -webkit-grab;
	cursor:-moz-grab;
}

.dragme .handle:active{
	cursor: grabbing !important;
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;
}

.dragme .handle .x {
	float: right;
	margin-right: 4px;
	font-size: 1em;
	cursor: pointer;
	z-index: 11;
}

.dragme .handle .button {
	font-size: 1em;
	font-weight: normal;
	margin-left: 1em;
	cursor: pointer;
}

.content {
	padding: .2em;
	margin-top: 1.2em;
	height: calc(100% - 1.6em);
}

.content hr {
	border-top: 1px dashed black;
	color: #fff;
	background-color: #fff;
	width: 75%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}